body {
    font-family: 'Arial', sans-serif;
    background-color: #e9ecf2;
    color: #313233;
}

h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 8%;
    text-decoration: underline;
}

p {
    display: flex;
    justify-content: center;
    font-style: italic;
}

/* h1 {
      border: 1px solid black;
    } */

div {
    margin: 10px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    /* border: 0.5px solid grey; */
    border-radius: 5px;
}

.form {
    flex-direction: row;
}

input {
    margin: 10px 3px;
    padding: 0.6em 1.1em;
    border-radius: 33px;
    border: none;
}

input:focus {
    outline-color: #b5c2df;
}

button {
    margin: 0.2em;
    padding: 0.6em 1.1em;
    background-color: white;
    border: none;
    border-radius: 33px;
    color: #313233;
    cursor: pointer;
}

button:active {
    border: 2px solid #b5c2df;
    /*   border-left: none;
      border-top: none; */
}

li {
    padding: 0.5em;
}

.toDoList:has(li) {
    border: 1px solid white;
    display: flex;
    width: 20%;
    min-width: 200px;
    margin: auto;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}

ul {
    padding-left: 0%;
}

.toDoItem {
    color: #313233;
    text-decoration: none;
    border: 1px solid white;
    background-color: whitesmoke;
    border-radius: 12px;
    padding: 0.3em 2em;
    list-style: none;
    margin: 3px;
}

.toDoItem:hover {
    /*   color: red; */
    text-decoration: line-through;
}

.itemDone {
    color: red;
    text-decoration: line-through;
}

/* .itemDone:hover {
        color: black;
        text-decoration: none;
    } */